
<div class='container'>
  <h1>New Message</h1>

  <%= form_with scope: :message, url: messages_path, :html => {:class => "form-horizontal center"}, local: true do |form| %>
    <p>
      <%= form.label :author, class: "col-md-4 control-label" %><br>
      <%= form.text_field :author, class: "form-control" %>
    </p>
  
    <p>
      <%= form.label :text, class: "col-md-4 control-label" %><br>
      <%= form.text_area :text, class: "form-control" %>
    </p>
  
    <p>
      <%= form.submit :Submit, class: 'btn btn-primary' %>
    </p>
  <% end %>

  <%= link_to '< back', messages_path %>
</div>
